@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=Source+Sans+3:wght@200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';
/*font-mono in tailwind classes*/

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-mono: "Space Mono", monospace;

  --breakpoint-xs: 30rem;
  --breakpoint-s: 40rem;
  --breakpoint-m: 48rem;
  --breakpoint-l: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 100rem;
}

@keyframes gradient-x {
  0%, 100% { background-position: 100% 50%; }
  50% { background-position: 0% 50%; }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 3s ease-in-out infinite;
}